@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.radio {
  margin-right: 1rem;
}

.radio input[type="checkbox"] {
  display: none;
}

.radio label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.radio label:before {
  content: "";
  display: inline-block;
  width: 1.3em !important;
  height: 1.3em !important;
  margin-right: 0.7em;
  border-radius: 50%;
  border: 2px solid #4b5563;
}

.radio input[type="checkbox"]:checked + label:before {
  background-color: #9333ea;
}
